/* You can add global styles to this file, and also import other style files */
$blue:    #0d6efd;

$primary:       $blue;

$modal-content-bg: $primary;
$grid-gutter-width: 0.5rem;

:root {
  --card1-height: 50vh;
  --card1-width: calc(var(--card1-height) / 1.5);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body{
    background-color: black;
    color:azure;
    user-select: none;
   
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
 
  
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  
  .card1 {
    background: #191c29;
    width: var(--card1-width);
    height: var(--card1-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card1:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card1:hover:before, .card1:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card1::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card1::after {
    position: absolute;
    content: "";
    top: calc(var(--card1-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card1-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  